.sidebar {
  width: 100%;
  top: 0;
  padding: 0 15px;
  margin-bottom: 20px;
}

.nav-link {
  color: black;
}

.post {
  margin-bottom: 20px;
}
.post-section {
  height: calc(100vh - (56px + 20px));
  overflow-y: scroll;
}